/*global*/
*{
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
c{
    font-weight: bold;
}

/*header*/
.header{
    background-color: #9ECEFA;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #9e017c;
    font-size: 35px;
}

.header img{
    width: 100px;
}

.header nav{
    display: flex;
}

.header ul{
    display: flex;
    align-items: center;
}

.header li{
    margin-left: 20px;
    margin-bottom: 5px;
}

.header a{
    text-decoration: none;
    color: #9e017c;
}

.header ul li:first-child{
    font-weight: bolder;
    border-bottom: 2px solid #9e017c;
}

/*main*/
.main{
    padding: 30px;
}

.main h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #87119A;
}

.main p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.main img{
    width: 100%;
    margin-bottom: 50px;
}

/*nosotros*/
.nosotros figure{
    display: flex;
    justify-content: space-between;
}

.nosotros img{
    width: 30%;
    margin-left: 20px;
}

/*servicios*/
.servicios{
    margin-bottom: 40px;
}

.servicios p{
    margin-bottom: 40px;
}

.servicios figure{
    display: flex;
    justify-content: center;
}

.servicios img{
    width: 35%;
    margin-left: 40px;
}

/*portafolio*/
.portafolio figure{
    display: flex;
    justify-content: space-between;
}

.portafolio img{
    width: 24%;
}

/*contacto*/
.contacto-2{
    display: flex;
    justify-content: start;
}

.contacto-2 div{
    padding: 40px 40px
}

.contacto-2 img{
    width: 50%;
    height: 50%;
}

/*footer*/
.footer{
    background: #9ECEFA;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.footer c{
    color: #8a0183;
}